.main-currency-table {
    width: 100%;
    flex-direction: row;    
}
.main-tables-container {
    margin-bottom: 0;
}
.main-currency-table {
    width: 100%;
    flex-direction: row;    
    margin: 0 auto;
}
.currency-table--titleb{
    margin-top: 0;
}
.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto  auto;
}
.plans-container--slider {
    justify-content: center;
}
.plans-container--card{
    transition: 0.7s all 0s linear;
    transform: scale(1) ;
}
.plans-container--card:hover{
    cursor: pointer;
    transition: 0.35s transform 0s linear ;
    transform: scale(1.1) ;
}